<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
  <nav>
      <div class="left">
          <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31" alt="logo">
          <p>Startsidan</p>
      </div>
      <div class="middle">
        <ul class="menu">
            <li class="menu-item">something</li>
            <li class="menu-item">something</li>
            <li class="menu-item">something</li>
            <li class="menu-item">something</li>
            <li class="menu-item">something</li>
        </ul>
      </div>
      <div class="right">
          <ul class="small-menu">
              <li class="small-menu-item">Hela Microsoft</li>
              <li class="small-menu-item"><img src="" alt=""></li>
              <li class="small-menu-item">img</li>
              <li class="small-menu-item">img</li>
          </ul>
          
      </div>
  </nav>
  <div class="texty">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil beatae blanditiis explicabo, quaerat porro magnam ea expedita sed perferendis aut labore exercitationem ipsa cumque esse eum magni voluptate placeat ab!
      Incidunt eveniet ratione harum similique rerum consectetur mollitia totam saepe, modi dolore ducimus rem ea blanditiis, voluptatibus porro. Sunt sequi error nulla atque magni odio in cum? Officia, inventore provident!
      Doloribus facere aliquid soluta praesentium nobis autem explicabo suscipit totam cumque repellendus nostrum molestiae veritatis nam corporis, omnis voluptatem quia aperiam neque sit, voluptate fugiat earum sequi nemo. Quisquam, id?
      Exercitationem architecto velit unde est neque praesentium hic asperiores, commodi alias modi nostrum vel excepturi pariatur. Harum culpa exercitationem nihil impedit, eligendi cumque voluptatem esse vitae labore. Voluptas, minima accusantium.
      Quia culpa labore sequi eaque pariatur quaerat minima praesentium velit illo perspiciatis, inventore omnis repudiandae aut exercitationem, ducimus similique asperiores voluptatem consequatur iure possimus dignissimos. Voluptate voluptates dolor in officiis.
      Eveniet error quisquam quas minima architecto sapiente et qui, itaque asperiores, minus tenetur atque corrupti! Nostrum voluptatem aspernatur atque, architecto amet qui esse aliquam fugit, sunt tempore sed dolorem eveniet.
      Eum ut eveniet dolore necessitatibus ab sapiente et distinctio, facere totam at animi voluptates ipsum dolorem cumque commodi optio, modi placeat, delectus ullam! Nisi fugit vel excepturi itaque aperiam iure.
      Rem amet suscipit dolorem distinctio consequatur id. Voluptates error porro fuga nam adipisci inventore numquam, sit illum reprehenderit distinctio provident eum recusandae rerum libero mollitia sequi molestiae alias doloribus corrupti.
      Labore molestiae obcaecati fugiat rem quia magnam nesciunt reprehenderit laborum perferendis quas doloremque optio nostrum debitis, repudiandae provident magni blanditiis. Praesentium nesciunt quod reprehenderit alias porro, voluptatibus optio est id?
      Fuga nisi culpa nostrum debitis quas esse, excepturi facere voluptates eveniet quo, expedita quae vero officia, eum illum fugit molestiae delectus nam repudiandae nulla. Sint tempora alias vel repellat velit?</p>
  </div>
</body>
</html>